<div class="top-row ps-6 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ground Rent Extractor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractALLE" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> ALLE
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractANNE" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> ANNE
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractBACI" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> BACI
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractBACO" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> BACO
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractCALV" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> CALV
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractCARO" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> CARO
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractCARR" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> CARR
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractCECI" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> CECI
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractCHAR" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> CHAR
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractDORC" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> DORC
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractFRED" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> FRED
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractGARR" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> GARR
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractHARF" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> HARF
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractHOWA" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> HOWA
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractKENT" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> KENT
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractMONT" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> MONT
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractPRIN" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> PRIN
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractQUEE" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> QUEE
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractSOME" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> SOME
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractSTMA" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> STMA
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractTALB" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> TALB
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractWASH" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> WASH
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractWICO" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> WICO
            </NavLink>
        </div>
        <div class="nav-item px-2">
            <NavLink class="nav-link" href="extractWORC" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> WORC
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
