@page "/settings"
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Settings</PageTitle>
<div class="row mb-3 mt-3">
    <div class="container mt-3">
        <div>
            <label>Upload Geckodriver executable here</label>
            <br />
            <button class="btn btn-primary" @onclick="LoadGeckodriver">Select Geckodriver</button>
            <label>@GeckodriverFilePath</label>
        </div>
        <div>
            <label>Upload Firefox Profile folder here</label>
            <br />
            <button class="btn btn-primary" @onclick="LoadFirefoxProfile">Select Firefox Profile</button>
            <label>@FirefoxProfilePath</label>
        </div>
    </div>
    @if(GeckodriverFilePath is not null)
    {
        <div>
            <p>Geckodriver path uploaded!</p>
        </div>
    }
    @if (FirefoxProfilePath is not null)
    {
        <div>
            <p>Firefox profile path uploaded!</p>
        </div>
    }
    @if (ErrorsList.Count > 0)
    {
        <h2>ErrorsList</h2>
        <ul class="text-danger">
        @foreach (var error in ErrorsList)
        {
            <li>@error</li>
        }
        </ul>
    }
</div>

@code {
    public static string? GeckodriverFilePath;
    public static string? FirefoxProfilePath;
    private List<string> ErrorsList = new();

    private void LoadGeckodriver()
    {
        ErrorsList.Clear();
        OpenFileDialog openFileDialog = new OpenFileDialog();
        openFileDialog.Filter = "(*.exe) | *.exe";
        openFileDialog.Multiselect = false;
        DialogResult res = openFileDialog.ShowDialog();
        if (res == DialogResult.OK)
        {
            GeckodriverFilePath = openFileDialog.FileName; 
        }
        else
        {
            ErrorsList.Add(res.ToString());
        }
    }
    private void LoadFirefoxProfile()
    {
        ErrorsList.Clear();
        FolderBrowserDialog folderBrowserDialog = new FolderBrowserDialog();
        folderBrowserDialog.InitialDirectory = Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData);
        DialogResult res = folderBrowserDialog.ShowDialog();
        if (res == DialogResult.OK)
        {
            FirefoxProfilePath = folderBrowserDialog.SelectedPath;
        }
        else
        {
            ErrorsList.Add(res.ToString());
        }
    }
}
